h1 {
  margin: 0;
}

.score-container {
  text-align: center;
  background-color: aqua;
}

.score-wrap {
  display: flex;
  justify-content: center;
}

.score {
  font-size: 50pt;
}

.score-button {
  font-size: 25pt;
  cursor: pointer;
  margin-left: 20pt;
}

.score-buttons {
  display: flex;
  justify-content: center;
}

.add-score-container {
  text-align: center;
  background-color: blanchedalmond;
}
.user-input{
  font-size: 20pt;
  background-color: rgb(23, 224, 103);
}